@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
    
    html {
        font-size: 110%;
    }
    
}

@media only screen and (min-width: 90em) {
    
    html {
        font-size: 120%;
    }
    
}

@media only screen and (min-width: 120em) {
    
    html {
        font-size: 130%;
    }  
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

a,
a:link, 
a:visited {
    outline:  none;
    color: red;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

/* KEYBOARD USE SETTINGS starts*/

a:focus {
    outline: 3px solid red;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    padding: 0.5em 0.75em;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
}

.skip-links a:focus {
    top: 0;
}

/* KEYBOARD USE SETTINGS ends*/

.img {
    display: block;
    width: 100%;
}

.title {
    text-align: center;
}
   
.intro {
    background-color: #ecd2a1;
    overflow: hidden;
    text-align: center;
}

.masthead {
    overflow: hidden;
}

.logo {
    height: 2em;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}

.billboard {
    margin: inherit;
    background-image: url(../images/artafolio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: black;
    overflow: hidden;
    position: relative;
    height: 35rem;
    width: 100%;
    box-shadow: 0px 5px 13px #888888;
}

.billboard-inside {
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        bottom: 5%;
        margin: 0 auto;
}

.section-dark {
  background-color: #fff;
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-bottom {
    list-style-type: none;
}

.top-bar {
    background-color: #fff;
}

.nav a,
.nav a:link,
.nav a:visited {
    display: block;
    color: #000;
    text-decoration: none;
    background-color: #fff;
    border-radius: 10px 0px 10px 0px;
}

.nav a:hover,
.nav a:focus,
.nav a:active 
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
    background-color: red;
    color: #fff;
    border-radius: 10px 0px 10px 0px;
    transition: all 0.3s ease 0s;
}

h1 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.9); 
}

.af-description {
    text-align: center;
    font-size: 1.2em;
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.9); 
}

/* Buttons */

button {
    background: red;
    color: #fff;
    font-size: 1.2em;
    height: 60px;
    width: 150px;
    line-height: 2em;
    text-align: center;
    border: 0;
    border-radius: 10px 0px 10px 0px;
    transition: all 0.3s ease 0s;
}

button:hover {
  background: #000;
}

.button {
    text-align: center;
}


@media only screen and (min-width: 25em) {
    
  .nav {
    text-align: center;
  }

  .nav li {
    display: inline-block;
  }
    
  .copyright {
    text-align: center;
  }

  .hidden {
    display: inline;
  }
    
}

@media only screen and (min-width: 38em) {
    
  .title {
    float: left;
  }

  .nav {
    text-align: center;
  }
    
  .nav-bottom {
    float: right;
  }
    
  .copyright {
    float: left;
  }
    
    .af-description {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
  }
    
}

@media only screen and (min-width: 60em) {
    
    form {
        margin-left: auto;
        margin-right: auto;
        width: 35em;
    }

}   