@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
    
    html {
        font-size: 110%;
    }
    
}

@media only screen and (min-width: 90em) {
    
    html {
        font-size: 120%;
    }
    
}

@media only screen and (min-width: 120em) {
    
    html {
        font-size: 130%;
    }  
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

/* ------------ LINKS starts ------------ */

a,
a:link, 
a:visited {
    outline:  none;
    color: red;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

/* ------------ LINKS ends ------------ */

/* ------------ KEYBOARD USE SETTINGS starts ------------ */

a:focus {
    outline: 3px solid red;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    padding: 0.5em 0.75em;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
}

.skip-links a:focus {
    top: 0;
}

/* ------------ KEYBOARD USE SETTINGS ends ------------ */

.img {
    display: block;
    width: 100%;
}

.img-wrap {
    border-radius: 20px 0px 0px 0px;
}

.title {
    text-align: center;
}
   
.intro {
    background-color: #ecd2a1;
    overflow: hidden;
    text-align: center;
}

/* ------------ NAVIGATION starts ------------ */

.masthead {
    overflow: hidden;
}

.logo {
    height: 2em;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.top-bar {
    background-color: #fff;
}

.nav a,
.nav a:link,
.nav a:visited {
    display: block;
    padding: 1rem;
    color: #000;
    text-decoration: none;
    background-color: #fff;
    border-radius: 10px 0px 10px 0px;
}

.nav a:hover,
.nav a:focus,
.nav a:active 
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
    background-color: red;
    color: #fff;
    border-radius: 10px 0px 10px 0px;
    transition: all 0.3s ease 0s;
}

/* ------------ NAVIGATION ends ------------ */

/* ------------ BILLBOARD starts ------------ */

.billboard {
    margin: inherit;
    background-image: url(../images/artafolio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: black;
    overflow: hidden;
    position: relative;
    height: 35rem;
    width: 100%;
    box-shadow: 0px 5px 13px #888888;
}

.billboard-inside {
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        bottom: 5%;
        margin: 0 auto;
}

h1 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.9); 
}

.af-description {
    text-align: center;
    font-size: 1.2em;
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.9); 
}

/* ------------ BILLBOARD ends ------------ */

/* ------------ FEATURED starts ------------ */

.portfolio-wrapper {
    background-color: #f1f1f1;
}

.artist-wrapper {
    background-color: #fff;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 0px 5px 13px #888888;
    
}

.overflow {
    clear: left;
    padding: 0;
    margin: 0;
    float: left;
}

.social-network {
    margin: 0;
    height: auto;
    display: block;
}

.social-network li {
    line-height: 3rem;
}

.social-network ul li {
    margin: 2% 0;
    padding: 0;
    float: left;	
    border: 0px solid lightgray;
    list-style:none;
}

.img-size {
    width: 40px;
}

/* ------------ FEATURED ends ------------ */

/* ------------ COLOURS CENTERED-ELEMENTS MISC starts ------------ */

.center {
    text-align: center;
}

.center-div {
    margin-left: auto;
    margin-right: auto;    
}

.section-dark {
  background-color: #fff;
}

.red {
    color: red;
}

p {
    color: grey;
}
   
.grey {
    color: grey;
}

.black {
    color: #000;
}

.white {
    color: #fff;
}

/* ------------ COLOURS CENTERED-ELEMENTS MISC ends ------------ */

/* ------------ Buttons starts ------------ */

button {
    background: red;
    color: #fff;
    font-size: 1.2em;
    height: 60px;
    width: 150px;
    line-height: 2em;
    text-align: center;
    border: 0;
    border-radius: 10px 0px 10px 0px;
    transition: all 0.3s ease 0s;
}

button:hover {
    background: #000;
}

.button {
    text-align: center;
}

/* ------------ Buttons ends ------------ */

/* ------------ FOOTER starts ------------ */

.footer {
    background-color: #000;
    overflow: hidden;
}

/* ------------ FOOTER ends ------------ */

/* ------------ NAVIGATION footer starts ------------ */

.nav-footer {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-footer a,
.nav-footer a:link,
.nav-footer a:visited {
    display: block;
    color: #fff;
    text-decoration: none;
    background-color: #000;
    border-radius: 10px 0px 10px 0px;
}

.nav-footer a:hover,
.nav-footer a:focus,
.nav-footer a:active 
.nav-footer .nav-footer-current,
.nav-footer .nav-footer-current:link,
.nav-footer .nav-footer-current:visited {
    background-color: red;
    color: #fff;
    border-radius: 10px 0px 10px 0px;
    transition: all 0.3s ease 0s;
}

/* ------------ NAVIGATION footer ends ------------ */


@media only screen and (min-width: 28em) {
    
  .nav {
    text-align: center;
  }

  .nav li {
    display: inline-block;
  }
    
  .copyright {
    text-align: center;
  }

  .hidden {
    display: inline;
  }
    
  .nav-footer a,
  .nav-footer a:link,
  .nav-footer a:visited {
    display: inline-block;
    padding: 1rem;
  }

  .nav-footer li::after {
    content: "·";
    display: inline-block;
    width: 0.5em;

    color: #666;
    text-align: right;
  }

  .nav-footer li:last-child::after {
    content: none;
  }
    
}

@media only screen and (min-width: 50em) {

  .nav {
    text-align: center;
  }
    
  .nav-footer {
    float: right;
  }
    
  .copyright {
    float: left;
  }
    
    .af-description, .p-center {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
  }
       
}

@media only screen and (min-width: 60em) {
    
    form {
        margin-left: auto;
        margin-right: auto;
        width: 35em;
    }

}   